@import 'https://fonts.googleapis.com/css?family=Domine:400,700|Passion+One:400,700|Yanone+Kaffeesatz:400,700';

html {
    overflow-x: hidden;
    background-color: #fbf9fb;
}

body {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 800px;

    font-family: "Domine", "Times New Roman", serif;
    font-size: 132%;
}

h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 4.45em;
    font-weight: bolder;
    line-height: 0.9em;
    margin: 0 0 0.4em 0;
}

h2, h3, summary {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: #89245f;
}

h2 {
    font-size: 3.1em;
    margin: 1.05em 0;
}

h3, summary {
    font-size: 1.6em;
}

summary {
    outline: none;
    cursor: pointer;
    margin: 1.4em 0;
}

details > details {
    padding-left: 1.7em;
}

a {
    color: #3180b8;
    font-weight: bolder;
}

.intro {
    background-color: #89245f;
    color: #e4cddb;

    padding: 1.9em 1.9em;
}

.intro h1 strong {
    font-size: 1.25em;
}

.intro strong {
    color: #fff;
}

.intro p {
    font-size: 1em;
    margin: 1em 0 0;
}

section.signup {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* :before element that pops out of the signup to add full-width borders */
section.signup:before {
    content: '';
    position: absolute;
    z-index: -1;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    display: block;

    background-color: #ffffff;
    border-top: 3px solid #89245f;
    border-bottom: 3px solid #89245f;
    box-shadow: 0 0 30px -5px #89245f;
}

.pledge-buttons {
    display: flex;
    margin: 0 -5px;
}

.pledge-buttons label {
    font-size: 1em;
    font-family: "Domine", "Times New Roman", serif;
    color: #fff;
    background-color: #89245f;

    width: 20%;
    margin: 0 5px;
    padding: 0.5em 0.3em;
    border: 2px solid transparent;
    border-radius: 3px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);

    cursor: pointer;
    user-select: none;

    flex-grow: 1;
    align-self: center;
}

.pledge-buttons label:hover {
    color: #89245f;
    background-color: #fff;
    border-color: #89245f;
}

.pledge-forms {
    position: relative;
}

.pledge-forms input[type=radio] {
    display: none;
}

.pledge-forms iframe {
    display: none;

    border: none;
    border-bottom: 2px solid #89245f;
    width: 100%;
    height: 500px;
}

.pledge-forms input[type=radio]:checked + iframe {
    display: block;
}

.pledge-forms label.hide-form {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2.5em;
    line-height: 0.6em;
    cursor: pointer;
}

.pledge-forms input#hide-form:checked + label {
    display: none;
}

ul.share-buttons {
  list-style: none;
  padding: 3.3em 0;
}

ul.share-buttons li {
  display: inline;
  margin: 0 20px;
}

ul.share-buttons a i {
    color: #89245f;
    font-size: 1.9em;
}

ul.share-buttons a:hover i {
    color: #000;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons .hashtag {
    padding-top: 1em;
    margin: 0;
    font-size: 1.25em;
    font-weight: lighter;
}

nav {
    display: none; /* For browsers that don't support target. */
}

nav:not(:target) { /* :not(:target) is a feature test - display only if available */
    display: flex;
    justify-content: space-between;
}

nav a {
    margin: 0 auto;
    width: 33%;
}

nav h3 {
    color: #89245f;
    border-bottom: 3px solid #89245f;
    display: inline-block;
    margin-bottom: 0;
}

nav h3:hover {
    color: #000;
    border-color: transparent;
}

.details > section:not(:target) {
    display: none;
}

.details > section:target {
    display: block;
}

.details ul {
    padding-left: 25px;
}

.details p, .details blockquote, .details li, .details details {
    font-size: 1em;
    text-align: left;
    color: #444;
    line-height: 140%;
    margin: 0 0 1em;
}

.details dt {
    text-align: left;
    margin-top: 40px;
}

.details strong {
    color: #000;
}

blockquote {
    font-style: italic;
}

blockquote em {
    font-style: normal;
    opacity: 0.8;
}

footer {
    width: 100%;
    border-top: 3px solid #89245f;
    color: #fff;
    margin-top: 1.7em;
    padding: 20px 0 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer h3 {
    width: 100%;
}

footer a {
    width: 30%;
    margin: 0 5%;
}

footer img {
    width: 100%;
}

footer img.softwire {
    margin-bottom: 8px;
}
